<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="advancedandroid.toolbarsamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NormalToolbarActivity"
            android:label="@string/title_activity_normal_toolbar" />
        <activity
            android:name=".AllToolbarActivity"
            android:label="@string/title_activity_all_toolbar" />
        <activity
            android:name=".ExpandedToolbarActivity"
            android:label="@string/title_activity_expanded_toolbar" />
    </application>

</manifest>
